html {
  scroll-behavior: smooth;

}

body {
  overscroll-behavior: contain;
  overflow-x: hidden; /* Prevent horizontal scrolling */


}


.icon {
  width: 2em;
  height: 2em;
  background: none;

}
