html {
  scroll-behavior: smooth;
}

.icon {
  width: 2em;
  height: 2em;
  background: none;

}

.resized-image {
  width: 200px; /* Set the desired width */
  height: 150px; /* Set the desired height */
}
