html {
  scroll-behavior: smooth;

}

body {
  overscroll-behavior: contain;

}

/* styles.css */
.app {
  /* Add your CSS styles to control the layout and appearance */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}



.icon {
  width: 2em;
  height: 2em;
  background: none;

}
